Multi Agent Tool.json
{
  "name": "Multi Agent Tool",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -816,
        -144
      ],
      "id": "1b3cffe3-1d3b-4c31-a522-cf7907f86dc5",
      "name": "Telegram Trigger",
      "webhookId": "0919883a-0358-4f6f-b3b4-32167355e54e",
      "credentials": {
        "telegramApi": {
          "id": "krwSRIIe4dTs6pI3",
          "name": "GEN AI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful tool calling agent , call the tools whenever user ask to do the task\n\nMy tool mapping list:\nGmail- when user ask to send email, call this tool\ngoogle sheet-when user ask to update in the sheet,call this tool\nserpapi-when user want to search from the internet,call this tool\ngoogle docs-when user ask to create a document,call this tool\ngoogle calender- when user want to schedule the event,call this tool\n\n current time: {{ $now }}\n\nstrictly follow the IST time and act accordingly\n\n",
          "maxIterations": 5,
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -608,
        -144
      ],
      "id": "32869807-a801-4e5b-88ed-81248e8f24a1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -752,
        64
      ],
      "id": "fee4d0b2-eade-4a35-9eb0-5cf26715e096",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Mj5VTaygbyDxxs7q",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -608,
        64
      ],
      "id": "a6d7deb7-b7c7-46bd-9ca8-032537e904a7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -176,
        64
      ],
      "id": "a548fc78-bfd3-4ba6-a8a4-942de78f92bb",
      "name": "Gmail",
      "webhookId": "9823302f-ed58-4dae-9384-15293713463e",
      "credentials": {
        "gmailOAuth2": {
          "id": "mCPqvnxDObxqQyeq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ponmathirk@gmail.com",
          "mode": "list",
          "cachedResultName": "ponmathirk@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -368,
        64
      ],
      "id": "63f58398-e926-4353-932f-d787a680be33",
      "name": "Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6wCxPpxcYgrzryKr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xxa4yyxl3gD1XE47OL61n1z1DMoZAgrcgyAZgfirntM",
          "mode": "list",
          "cachedResultName": "Student Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xxa4yyxl3gD1XE47OL61n1z1DMoZAgrcgyAZgfirntM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "student details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xxa4yyxl3gD1XE47OL61n1z1DMoZAgrcgyAZgfirntM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Course ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Course_', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course ",
              "displayName": "Course ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -272,
        64
      ],
      "id": "fd764bb1-941d-4b74-a014-06bd8daf79a0",
      "name": "Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ghRgBwkAUpJLhMtu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "=https://docs.google.com/document/d/1uOn4GVzNFZ1g6rE8Rpx2UmZ9mDAbC_rEP-pz9TvE1yg/edit?tab=t.0",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -80,
        64
      ],
      "id": "148180a4-5730-4493-8208-e3ce52f9f2f3",
      "name": "Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "2MASCywOLSP2oxy6",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query__q_', ``, 'string') }}",
        "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location__location_', ``, 'string') }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        -464,
        64
      ],
      "id": "64dbf523-4efd-4253-9ad4-149f948143ea",
      "name": "SerpApi",
      "credentials": {
        "serpApi": {
          "id": "nQBxq5bCGJyWcbfy",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        -144
      ],
      "id": "dfbb0f01-6985-44e5-9beb-3d3a630e50c0",
      "name": "Telegram Output",
      "webhookId": "65f7f2a0-92d8-4b53-88b9-133e551ca933",
      "credentials": {
        "telegramApi": {
          "id": "krwSRIIe4dTs6pI3",
          "name": "GEN AI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7f4047a1-5fe7-4237-a2b9-3c1e09b4b850",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "651b2183b5b013b222c168e173d2c63e420a3d95b59e15828e2f0a96bb3e5806"
  },
  "nodeGroups": [],
  "id": "6Pt6Q73L8HU8Mdq0",
  "tags": []
}